<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="URL" value="https://intern-gleontev.crm.norbit.ru"/>
		<add key="AuthorizationService" value="/ServiceModel/AuthService.svc/Login"/>
		<add key="Login" value="Georgiy.Leontev@norbit.ru"/>
		<add key="Password" value="3&amp;Dods!%u68r"/>
		<add key ="CommunicationListRequestUrl" value="/0/odata/ContactCommunication?$filter=contact/Id eq {0}&amp;&amp;$select=Number"/>
		<add key ="ContactCommunicationUrl" value="/0/odata/ContactCommunication"/>
		<add key ="ContactCommunicationIdUrl" value="/0/odata/ContactCommunication({0})"/>
	</appSettings>
</configuration>